Node-Red-Flow.json
[{"id":"cde39dce.d1284","type":"tab","label":"Flow 1"},{"id":"f1ae6cb9.7cdc2","type":"debug","z":"cde39dce.d1284","name":"Results","active":true,"console":"false","complete":"true","x":762.5002861022949,"y":155.00049591064453,"wires":[]},{"id":"3e9798a5.99b7b8","type":"sentiment","z":"cde39dce.d1284","name":"","x":540.8334045410156,"y":155.00016975402832,"wires":[["f1ae6cb9.7cdc2","4f6abbba.a0bad4"]]},{"id":"3f91d59d.3da13a","type":"function","z":"cde39dce.d1284","name":"mmsg","func":"msg.payload = \"You are freaking idiot you asshole\";\nreturn msg;","outputs":1,"noerr":0,"x":373.00003814697266,"y":157.6668186187744,"wires":[["3e9798a5.99b7b8"]]},{"id":"4685df75.7c20f","type":"http request","z":"cde39dce.d1284","name":"TextRazor","method":"POST","ret":"obj","url":"https://api.textrazor.com/","tls":"","x":616.6669387817383,"y":33.523624420166016,"wires":[["4811c8db.26cb28"]]},{"id":"7bd90c18.25f804","type":"function","z":"cde39dce.d1284","name":"Request Creator","func":"msg.payload = {extractors:\"topics\",text:msg.req.body.text};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded','X-TextRazor-Key':'224d45f083cf65e2f78a8c0f10e7af4e09a51f16432f6bc7c24368d2'};\nreturn msg;","outputs":1,"noerr":0,"x":390.0000762939453,"y":33.52365493774414,"wires":[["4685df75.7c20f"]]},{"id":"9a48cf42.9274a","type":"http in","z":"cde39dce.d1284","name":"Text Razor","url":"/topika","method":"post","swaggerDoc":"","x":179.00001525878906,"y":34.19024658203125,"wires":[["7bd90c18.25f804"]]},{"id":"4811c8db.26cb28","type":"function","z":"cde39dce.d1284","name":"Broker","func":"\nmsg.payload.topics = [];\ncount = 0;\nfor (topic in msg.payload.response.topics){\n    count++;\n    msg.payload.topics.push(msg.payload.response.topics[topic]);\n    msg.payload.count = count;\n    if(count == 5) break;\n}\n\n\n\nmsg.payload = {topics:msg.payload.topics};\nreturn msg;","outputs":1,"noerr":0,"x":802.6748161315918,"y":33.380496978759766,"wires":[["4611cfa7.2de03","e7a72eed.6f4de"]]},{"id":"4611cfa7.2de03","type":"debug","z":"cde39dce.d1284","name":"","active":true,"console":"false","complete":"false","x":1055.9925155639648,"y":32.461368560791016,"wires":[]},{"id":"2c92909e.1e706","type":"http request","z":"cde39dce.d1284","name":"Wikipedia","method":"use","ret":"txt","url":"","tls":"","x":519.5078964233398,"y":245.52363109588623,"wires":[[]]},{"id":"55c0f6ca.f23448","type":"debug","z":"cde39dce.d1284","name":"Results","active":true,"console":"false","complete":"true","x":804.5079669952393,"y":312.5236930847168,"wires":[]},{"id":"f2a56457.4174b8","type":"http in","z":"cde39dce.d1284","name":"Wiki Local","url":"/wiki","method":"post","swaggerDoc":"","x":162.50790405273438,"y":310.52375411987305,"wires":[["9100b659.507728"]]},{"id":"9100b659.507728","type":"function","z":"cde39dce.d1284","name":"mmsg","func":"\nurl = \"https://wikipedia.org/wiki/\";\nmsg.url = url + msg.req.body.topic;\nmsg.method = 'GET';\nmsg.payload = msg.url;\nreturn msg;","outputs":1,"noerr":0,"x":351.5078582763672,"y":310.5236625671387,"wires":[["55c0f6ca.f23448","58a8ebf8.3f7b84"]]},{"id":"b0aa37d.3d3cbc8","type":"http response","z":"cde39dce.d1284","name":"Wikipedia Response","x":983.7502899169922,"y":378.0784454345703,"wires":[]},{"id":"b2f2eee4.e0a76","type":"http response","z":"cde39dce.d1284","name":"Sentiment Response","x":1002.5078735351562,"y":244.5236301422119,"wires":[]},{"id":"cd321e55.b3adf","type":"http in","z":"cde39dce.d1284","name":"Google","url":"/google","method":"post","swaggerDoc":"","x":149.50786209106445,"y":485.5237121582031,"wires":[["1feff480.06156c"]]},{"id":"1feff480.06156c","type":"function","z":"cde39dce.d1284","name":"mmsg","func":"\nurl = \"https://www.google.com/search?q=\";\nmsg.url = url + msg.req.body.topic;\nmsg.method = 'GET';\nreturn msg;","outputs":1,"noerr":0,"x":341.5079040527344,"y":485.5238342285156,"wires":[["d7f3502.1a624b"]]},{"id":"d7f3502.1a624b","type":"http request","z":"cde39dce.d1284","name":"Google","method":"use","ret":"txt","url":"","tls":"","x":510.5078468322754,"y":484.5236358642578,"wires":[["c3568759.405778","dc285ff9.65c63"]]},{"id":"c3568759.405778","type":"debug","z":"cde39dce.d1284","name":"Results","active":true,"console":"false","complete":"true","x":807.5078277587891,"y":456.5235900878906,"wires":[]},{"id":"c0c52893.4bba28","type":"http response","z":"cde39dce.d1284","name":"Google Response","x":1179.7501983642578,"y":519.0784482955933,"wires":[]},{"id":"1979dbda.622914","type":"http in","z":"cde39dce.d1284","name":"Bing","url":"/bing","method":"post","swaggerDoc":"","x":133.50783920288086,"y":623.5236930847168,"wires":[["d897d4f9.c5d988"]]},{"id":"d897d4f9.c5d988","type":"function","z":"cde39dce.d1284","name":"mmsg","func":"\nurl = \"http://www.bing.com/search?q=\";\nmsg.url = url + msg.req.body.topic;\nmsg.method = 'GET';\nreturn msg;","outputs":1,"noerr":0,"x":335.5078468322754,"y":622.5237636566162,"wires":[["c63d863a.27af58"]]},{"id":"c63d863a.27af58","type":"http request","z":"cde39dce.d1284","name":"Bing","method":"use","ret":"txt","url":"","tls":"","x":498.50782775878906,"y":619.5235900878906,"wires":[["2a8a673b.977cd8","726f55d7.a5031c"]]},{"id":"2a8a673b.977cd8","type":"debug","z":"cde39dce.d1284","name":"Results","active":true,"console":"false","complete":"true","x":808.5078277587891,"y":612.5235900878906,"wires":[]},{"id":"bae07adc.968298","type":"http response","z":"cde39dce.d1284","name":"Bing Response","x":1136.7501945495605,"y":672.0784912109375,"wires":[]},{"id":"27182609.86409a","type":"http in","z":"cde39dce.d1284","name":"Youtube","url":"/youtube","method":"post","swaggerDoc":"","x":144.50782775878906,"y":759.5235900878906,"wires":[["84bec9e1.65dd18"]]},{"id":"84bec9e1.65dd18","type":"function","z":"cde39dce.d1284","name":"mmsg","func":"\nurl = \"https://www.youtube.com/results?search_query=\";\nmsg.url = url + msg.req.body.topic;\nmsg.method = 'GET';\nreturn msg;","outputs":1,"noerr":0,"x":319.50782775878906,"y":760.5235900878906,"wires":[["12da8b84.be8154"]]},{"id":"12da8b84.be8154","type":"http request","z":"cde39dce.d1284","name":"YouTube","method":"use","ret":"txt","url":"","tls":"","x":500.50782775878906,"y":759.5235900878906,"wires":[["9a748ed4.60614","d84479f8.eda5b8"]]},{"id":"9a748ed4.60614","type":"debug","z":"cde39dce.d1284","name":"Results","active":true,"console":"false","complete":"true","x":815.5078277587891,"y":760.5235900878906,"wires":[]},{"id":"76a1958f.3915ac","type":"http response","z":"cde39dce.d1284","name":"YouTube Response","x":1164.7502899169922,"y":830.0784587860107,"wires":[]},{"id":"d84479f8.eda5b8","type":"html","z":"cde39dce.d1284","name":"","tag":".yt-lockup","ret":"html","as":"single","x":742.5078811645508,"y":831.5236396789551,"wires":[["311fc253.abd94e"]]},{"id":"726f55d7.a5031c","type":"html","z":"cde39dce.d1284","name":"","tag":".b_algo","ret":"html","as":"single","x":818.5000457763672,"y":676.0002584457397,"wires":[["1c551319.c6f9bd"]]},{"id":"6c7da93a.533a48","type":"http request","z":"cde39dce.d1284","name":"Cosine Similarity","method":"POST","ret":"obj","url":"http://127.0.0.1:5000/data","tls":"","x":670.908935546875,"y":934.4171085357666,"wires":[["f80f40c6.70d8c","1cdf5851.65b8c8"]]},{"id":"c5d7120c.4b617","type":"function","z":"cde39dce.d1284","name":"Generate Request","func":"msg.payload = {text:msg.req.body.text,tokens:msg.req.body.tokens};\nmsg.headers = {'content-type':'application/x-www-form-urlencoded'};\nreturn msg;","outputs":1,"noerr":0,"x":337.666690826416,"y":933.6669225692749,"wires":[["6c7da93a.533a48"]]},{"id":"f80f40c6.70d8c","type":"debug","z":"cde39dce.d1284","name":"","active":true,"console":"false","complete":"false","x":961.6666717529297,"y":932.6669006347656,"wires":[]},{"id":"41874fdc.774bd","type":"http in","z":"cde39dce.d1284","name":"Cosine","url":"/cosine","method":"post","swaggerDoc":"","x":124.66667175292969,"y":931.6669006347656,"wires":[["c5d7120c.4b617"]]},{"id":"2410be7f.743d52","type":"http response","z":"cde39dce.d1284","name":"Cosine Response","x":1135.6666717529297,"y":1011.6669635772705,"wires":[]},{"id":"2040a33f.bfec2c","type":"http response","z":"cde39dce.d1284","name":"Razor Response","x":1290.507926940918,"y":116.52362632751465,"wires":[]},{"id":"e7a72eed.6f4de","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":1015.5078277587891,"y":112.52359008789062,"wires":[["2040a33f.bfec2c"]]},{"id":"fe521bad.f3d988","type":"http in","z":"cde39dce.d1284","name":"Sentimental","url":"/sentimental","method":"post","swaggerDoc":"","x":187.5078353881836,"y":158.52362728118896,"wires":[["3f91d59d.3da13a"]]},{"id":"4f6abbba.a0bad4","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":765.5078659057617,"y":246.5236301422119,"wires":[["b2f2eee4.e0a76"]]},{"id":"58a8ebf8.3f7b84","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":772.5078659057617,"y":379.5236654281616,"wires":[["b0aa37d.3d3cbc8"]]},{"id":"7ee51b67.059af4","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":948.5078277587891,"y":519.5235900878906,"wires":[["c0c52893.4bba28"]]},{"id":"311fc253.abd94e","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":924.5078887939453,"y":829.5236492156982,"wires":[["76a1958f.3915ac"]]},{"id":"1cdf5851.65b8c8","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":933.5078277587891,"y":1012.5235900878906,"wires":[["2410be7f.743d52"]]},{"id":"dc285ff9.65c63","type":"html","z":"cde39dce.d1284","name":"","tag":".g","ret":"html","as":"single","x":709.6666412353516,"y":527.6666984558105,"wires":[["7ee51b67.059af4"]]},{"id":"1c551319.c6f9bd","type":"function","z":"cde39dce.d1284","name":"CORS","func":"msg.res.set( \"Access-Control-Allow-Origin\" , \"*\"); \nreturn msg;","outputs":1,"noerr":0,"x":974.666690826416,"y":673.666708946228,"wires":[["bae07adc.968298"]]}]